<header
  class="relative flex justify-center items-center py-5 w-full mx-auto mb-20 bg-white border-gray-200 dark:bg-slate-900"
>
  <nav class="fixed top-0 flex flex-row gap-x-14 opacity-80 text-2xl">
    <a href="#top">Home</a>
    <a href="#aboutMe">About me</a>
    <a href="#experience">Experience</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </nav>
</header>

<script>
  const navegacion = document.querySelector("nav");
  window.addEventListener("scroll", () => {
    if (window.scrollY < 0) {
      navegacion?.classList.add("hidden");
    } else {
      navegacion?.classList.remove("hidden");
    }
  });
</script>
