---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import "@fontsource-variable/onest";

---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  a {
    font-family: "Onest Variable", system-ui, sans-serif;
  }
</style>
<!-- <script>
  const navegacion = document.querySelector("nav");
  window.addEventListener("scroll", () => {
    if (window.scrollY < 0) {
      navegacion?.classList.add("hidden");
    } else {
      navegacion?.classList.remove("hidden");
    }
  });
</script> -->
